In [1]:
A = [10,15,20,25]
for i in A:
    print(i)
print('good day')

10
15
20
25
good day

In [3]:
for i in range(10):
    print(str(i)*i)
print('good day')

1
22
333
4444
55555
666666
7777777
88888888
999999999
good day

In [6]:
A = ['pen','pencil','books','toy']
B = ['school','college']
for i in A:
    print(i)
    for j in B:
        print(' ',j)

pen
  school
  college
pencil
  school
  college
books
  school
  college
toy
  school
  college

In [8]:
A = ['pen','pencil','books','toy']
B = ['school','college']
for i in A:
    print(i)
    break
    for j in B:
        print(' ',j)

pen

In [9]:
no1 = input('enter the first number')
no2 = input('enter the second number')
print('data type of no1 is ',type(no1))
no3 = int(no1)+int(no2)
print(no3)

enter the first number 10
enter the second number 20

data type of no1 is  <class 'str'>
30

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
x = input('enter')
print(type(x))

enter faiz

<class 'str'>

In [12]:
def sales():
    price = 50
    qty = input('enter quantity')
    amt = int(qty)*price
    print(amt)

In [13]:
sales()

enter quantity 10

500

In [26]:
def sales(qty=10,price=49):
    amt = int(qty)*price
    print('Rs',amt)

In [25]:
sales(8)

Rs 392

In [28]:
sales(price=20)

Rs 200

In [29]:
def sales(qty=10,price=49):
    amt = int(qty)*price
    return (amt)

In [30]:
s1= sales(20,30)
print(s1)

600

In [33]:
sls=[]
sls.append(sales(2))
sls

[98]

In [34]:
sls.append(sales(30))
sls

[98, 1470]

In [39]:
def financials (revenue,expenses):
    profit= revenue-expenses
    profit_ratio= profit/revenue
    new_financials = (profit,profit_ratio)
    return(new_financials)

In [40]:
financials(9000,2000)

(7000, 0.7777777777777778)

In [41]:
x=financials(9000,2000)
print(x)

(7000, 0.7777777777777778)

In [42]:
print('profit',x[0])
print('profit_ratio',x[1])

profit 7000
profit_ratio 0.7777777777777778

In [44]:
def conversion(deg):
    F=(deg*9/5)+32
    return(F)

In [45]:
conversion(32)

89.6

In [ ]:
list=[]
tuple=()
set={}
dictionary={'key':'value'}

In [47]:
l1=[10,20,30,True,'Sat',[50,52,54],(45,65,54)]
print(l1)

[10, 20, 30, True, 'Sat', [50, 52, 54], (45, 65, 54)]

In [51]:
l1 [-1]

(45, 65, 54)